@charset 'UTF-8';
@font-face { font-family: 'godoRounded R';src: url(../font/godoRoundedR.ttf);}
@font-face { font-family: 'Rock 3D Regular';src: url(../font/Rock3D-Regular.ttf);}
@font-face { font-family: 'PyeongChang';src: url(../font/PyeongChang-Regular.ttf);}
*{margin: 0;padding: 0;}
ul,li,ol {list-style: none;}
a{text-decoration: none; color: #333;}

/* 전체 레이아웃 */
#wrap {
    width: 100%;
    /* background-color: aliceblue; */
    margin: 0 auto;
}
#header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color:rgba(186,155,201,0.5);
    display: flex;
    justify-content: space-between;
}
.container {
    width: 1600px;
    height: 100vh;
    margin: 0 auto;
}
#main {
    width: 100%;
    position: relative;
}
#profile {
    width: 100%;
    background-color: #fff;
    position: relative;
}
#content {
    width: 100%;
    background-color: #def8ff;
}
#web {
    background-color: #fff;
}
#slide {
    width: 100%;
}


/* header */
#header .container {
    display: flex;
    height: auto;
    align-items: center;
    padding: 10px 180px;
    justify-content: space-between;
    box-sizing: border-box;
}
#header h1 {
    font-family: 'Rock 3D Regular';
    font-size: 30px;
    color: #fff;
}
.nav ul {
    display: flex;
    align-items: center;
}
.nav ul li a {
    display: block;
    padding: 5px 40px;
    font-family: 'godoRounded R';
    font-size: 30px;
    color: #666;
}
h4 {
    width: 1600px;
    margin-bottom: 50px;
    padding-top: 70px;
    text-align: center;
    box-sizing: border-box;
}
h4 img {
   height: 100px;
}


/* main */
#main{
    width: 100%;
    height: 100vh;
    padding-top: 63px;
    box-sizing: border-box;
    background: url(../img/main.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
#main p {
    display: inline;
    width: 100%;
    text-align: center;
    font-family: 'PyeongChang';
    font-size: 90px;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    font-weight: bold;
    letter-spacing: -5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.typewriter {
	width: 21.5ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 4s steps(18) alternate infinite;
    
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 18ch; 
  }
}


/* profile */
#profile {
    width: 100%;
    height: 100vh;
}
#profile .about_me {
   
}
#profile .info img{
    width: 1400px;
    display: block;
    margin: 0 auto;
}

/* swiper */
#Design {
    width: 1600px;
    height: 100vh;
}
html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
    width: 400px;
    height: 500px;
    box-sizing: border-box;
}

@media (max-width: 760px) {
.swiper-button-next {
  right: 20px;
  transform: rotate(90deg);
 }

.swiper-button-prev {
  left: 20px;
  transform: rotate(90deg);
}
}

/* tab메뉴 */
.tab_menu .tab_btn {
    top: 10px;
}
.tab_menu .tab_btn ul { 
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.tab_menu .tab_btn ul li {}
.tab_menu .tab_btn ul li.on a {
    color: #a886b9;
    font-weight: bold;
}
.tab_menu .tab_btn ul li a {
    font-size: 20px;
    display: block;
    text-align: center;
    line-height: 35px;
    width: 150px;
    height: 35px;
    margin-top: 5px;
    font-family: 'PyeongChang';
    font-weight: bold;
    color: #999;
}

/* WEB */
.web {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    font-family: 'PyeongChang';
    font-weight: bold;
}
.web .left p {
    width: 600px;
    height: 350px;
    background: #fff;
    border-radius:20px ;
    overflow: hidden;
}
.web .left p img{
    width: 100%;
}
.right{
    margin-left: 200px;
    margin-right: auto;
}
.web .right li{
    line-height: 3rem;
}
.web .right li span {
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    color: #ba9bc9;
}
.web .right li p {
    font-size: 18px;
    color: #333;
}
.web .right .btn_g .btn {
    font-size: 18px;
    background: #ba9bc9;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px;
    display: block;
    margin: 10px 100px 0 0;
}

/* slide */

iframe {
    display: block;
    width: 1200px;
    margin: 0 auto;
    height: 75vh;
}





/* .Design_ sns_design */
/* .Design{
    width: 100%;
    height: 100vh;
}
.Design h4 {
    width: 1600px;
}

.Design .sns_bg .sns_container .design_list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); */
   /*  padding-top: 60px; */
 /*    justify-items: center;
}
.Design .sns_bg .sns_container .design_list ul li a {
    display: block;
    width: 280px;
    height: 280px;
    background: #fff;
    margin-top: 60px;
    filter: grayscale(95%) brightness(0.5);
}
.Design .sns_bg .sns_container .design_list ul li a:hover{
    filter: grayscale(0) brightness(1);
}

.Design .sns_bg .sns_container .design_list ul li:nth-child(1) a {
    background: url(../img/캡처.PNG);
    background-size: cover;
} */

